@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    font-family: 'Inter','Sans-serif';
}

.profile__section{
    display: flex;
    justify-content:center;
    width: 100%;
    margin: auto;
    justify-content:right;
}